body{
	font-family: 'Open Sans', sans-serif;
	color: white;
	/*font-family: 'Comfortaa', cursive;*/
}

#header{
	width: 100%;
	height: 8%;
	background-color: #433f3f;
	position: fixed;
	top:0;
	left:0%;
	z-index: 2;
}

#header img{
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
	float: left;
	position: relative;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
}

#slider{
	float:left;
	width:100%;
	height: 50%;
	position: absolute;
	margin-left: 0%;
	margin-top: 0%;
	top: 8%;
	left: 0;
	z-index:0;
}

#slider img
{
	height: auto;
	width: 100%;
	position: absolute;
	float: left;
	left: 0;
	top: 0;
	transition: 1s;
	visibility: hidden;
	background: rgb(0,0,0);
	z-index: 4;
	-webkit-filter: brightness(50%);
}

#welcome{
	width: 60%;
	height: 15%;
	z-index: 5;
	position: relative;
	margin-top: 20%;
	margin-left: 20%;
	text-align: center;
	color: #70edc3;
	background-color: #433f3f;

}

#welcome span{
	font-weight: 600;
	display: inline-block;
	position: relative;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	

}



#homeNav{
	width: 100%;
	height: 40%;
	margin-top: 68%;
	position: absolute;
	float: left;

}

.homeNavItems{
	width: 50%;
	height: 25%;
	margin-left: 25%;
	float: left;
	margin-bottom: 2%;
}

.homeNavLabel{
	width: 70%;
	height: 100%;
	float: left;
	margin-left: 0;
	text-align: center;
	color: #70edc3;
	background-color: #433f3f;
}

.homeNavLabel span{
	font-weight: 600;
	display: inline-block;
	position: relative;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
}

.homeNavImages{
	width: 30%;
	height: 100%;
	float: left;
	margin-left: 0;
	background-color: #70edc3;
	position: relative;
	display: inline-block;
}

.homeNavImages img{
	width: auto;
	height: auto;
	max-height: 90%;
	max-width: 90%;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	left: 50%;
  	-webkit-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	transform: translateX(-50%);	


}
